/*  Заголовок в поле собственый коммерческий СМЕНА */
.h1 {
	color:rgb(0, 43, 128);	
	
}

.container {	
display: flex;
flex-direction: column;
margin: 0;
}

.container2 {
	display: flex;
	flex-direction: column-count;	
	
	}

/* Контейнер верхний Главная стр... и тд  */
.item  {	
	width: 100%;
	padding: 1px;	
	background-color:  rgb(232, 168, 64); 	/* фон контейнера верхнего */	
	border: 1px solid #ccc;
	margin-bottom: 0px; /* Зазоры между контейнерами */	
	font-size: 20px;  /* Размер текста верхнего меню */	
	font-weight: bold;
	/* text-align: right; */
}



/* Контейнер слева */	
.item1 {
	width: 20%;
	padding: 1px;	
	background-color:  rgb(64, 204, 232); 	/* фон контейнера слева */	
	border: 1px solid #ccc;	
	margin-bottom: 0px; /* Зазоры между контейнерами */	
	
}
/* Контейнер справа */
.item2 {
	width: 100%;
	padding: 1px;	
	border: 1px solid #ccc;
	margin-bottom: 5px;
	
}



header {
background: linear-gradient(#FFFAFA, #FAEBD7);

}

ul {
list-style: none;
margin: 0;
padding: 20px;
}

/* цвет текста верхнего меню */
a {
fond-size: 40px;
padding: 20px;
color: hwb(219 18% 43% / 0.985);
text-decoration: none;

}

a:hover{
color: #FFCF48;
text-decoration: none;

}

li{
display: inline;

}


/* стиль таблиц */

.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 125%;	
	margin-bottom: 20px;
}
.table {
	width: 100%;
	box-shadow: 0 5px rgba(152, 47, 17, 0.2);
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	
	
}
.table th {
	font-weight: bold;
	padding: 5px;
	background-color: #1e88e5;
	color: #fff;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;	
        vertical-align: center;
        text-align: center;
}
.table tr:nth-child(even) {
	background: #f5f5f5 ;
}