<nav> 
  <div class="dropdown">
  <button class="dropbtn">По месяцам подробно</button>
  <div class="dropdown-content">       
    <a href="/month/9">Сентябрь</a>
    <a href="/month/10">Октябрь</a>
    <a href="/month/11">Ноябрь</a>
    <a href="/month/12">Декабрь</a>
  </div>
  
</div>  
</nav>

<br>

<nav> 
  <div class="dropdown">
  <button class="dropbtn">По месяцам итого</button>
  <div class="dropdown-content">    
    <a href="/month_sum/9">Сентябрь</a>
    <a href="/month_sum/10">Октябрь</a>
    <a href="/month_sum/11">Ноябрь</a>
    <a href="/month_sum/12">Декабрь</a>
  </div>
</div>  
</nav>





  