<nav> 
 
  <ul class="tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries tree-markers tree-buttons">
    <li>
      <details open>
        <summary style="color: #1711c0; font-weight: 900;">Тестирование по техучебе</summary>
        <ul style="color: #1c540c; font-weight: 900;">
          <li>
            <details>
              <summary>02.09.2025 СРПД</summary>
              <ul>
                <!-- <li> <a href="/take/1/1/">Входное </a></li> -->
                <li> <a href="/take/1/2/">Итоговое </a></li> 
                <!-- <li> <a href="/compressor_month/9">авто</a></li> -->
              </ul>
            </details>
          </li> 
          <li>
            <details>
              <summary>07.10.2025 Компрессоры</summary>
              <ul>                
                <!-- <li> <a href="#">Входное </a></li> -->
                <li> <a href="#">Итоговое </a></li> 
              </ul>
            </details>
          </li>
          <li>
            <!-- <details>
              <summary>ноябрь</summary>
              <ul>
                <li> <a href="/pagz/11/ПАГЗ">ПАГЗ</a></li>
                <li> <a href="/pagz/11/МКЗ">МКЗ</a></li>
                <li> <a href="/compressor_month/11">авто</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary>декабрь</summary>
              <ul>
                <li> <a href="/pagz/12/ПАГЗ">ПАГЗ</a></li>
                <li> <a href="/pagz/12/МКЗ">МКЗ</a></li>
                <li> <a href="/compressor_month/12">авто</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </details> -->
    </li>
  </ul>


</nav>

